<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Node Webapp Template</title>

    <!-- Bootstrap Styles -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> -->

    <!-- Application Script -->
    <script type="text/javascript" src="/libs/requirejs/require.js" data-main="js/main"></script>
  </head>
  <body>
    It works !
  </body>
</html>