<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Node Webapp Template</title>

    <!-- Bootstrap Styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Vendors Scripts -->
    <script type="text/javascript" src="/libs/lodash.js"></script>
    <script type="text/javascript" src="/libs/jquery.js"></script>
    <script type="text/javascript" src="/libs/moment.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    <!-- Application Script -->
    <script type="text/javascript" src="/libs/require.js" data-main="js/main"></script>
  </head>
  <body>